// addon colors
.bg-light-green
    background-color: $light-green !important
.bg-light-purple
    background-color: $light-purple !important
.bg-purple
    background-color: $purple !important

// table
.table-striped-even
    tr:nth-of-type(even)
        background-color: $gray-100 
html
    height: 100%
body
    height: 100%
// sidebar & content       
.sidebar-area,
.content-area
    height: 100vh
#accordion
    .card
        transition: all ease-in-out .2s
        -webkit-transition: all ease-in-out .2s
        -moz-transition: all ease-in-out .2s
        -ms-transition: all ease-in-out .2s
.sidebar-area
    width: 300px
    background-color: $white
    box-shadow: 0 3px 6px rgba($black, .16)
    position: fixed
    left: 0
    z-index: 1031
    top: 60px
    border-top: 1px solid $gray-300
    height: 100%
    transition: all ease-in-out .2s
    -webkit-transition: all ease-in-out .2s
    -moz-transition: all ease-in-out .2s
    -ms-transition: all ease-in-out .2s
    @media (max-width: 1280px)
        width: 264.5px
    .side-content
        &.participant
            height: 185px
        &.chat
            height: 25%
            @media (max-width: 1280px)
                height: 25%
            @media (min-width: 1366px)
                max-height: 430px
    .video-call
        position: relative
        img
            max-width: 100%
        .status-live
            position: absolute
            top: 5px
            left: 5px
            z-index: 2
            p
                text-transform: uppercase
                color: $white
                font-weight: 500
                span
                    display: inline-block
                    padding-left: 15px
                    position: relative
                    &:before
                        content: ""
                        width: 12px
                        height: 12px
                        border-radius: 100px
                        background-color: $red
                        position: absolute
                        top: 4px
                        left: 0
            &.live
                p
                    span
                        &:before
                            background-color: $green
    &.close-side
        left: -300px
        @media (max-width: 1280px)
            left: -264.5px

.participant-list
    height: 185px
    overflow: auto

.profile-box
    display: flex
    align-items: center
    padding: .8rem 1.5rem
    -ms-flex-wrap: wrap
    flex-wrap: wrap;
    &.sidebar-item
        border-bottom: 1px solid $gray-300
    .profile-avatar
        width: 46px
        height: 46px
        padding: 3px
        border: 1px solid $primary
        border-radius: 50%

        img
            width: 100%
            border-radius: 50%
    .profile-name
        padding-left: 1rem

        .profile-title
            font-size: 14px
            line-height: 1
            margin-bottom: .5rem
        .profile-description
            font-size: 12px
            line-height: 1
            text-transform: uppercase
            display: block
            color: $gray-600

    &.profile-item
        .profile-avatar
            padding: 0
            width: 28px
            height: 28px
            border: none
        .profile-name
            .profile-title
                font-weight: normal
                margin-bottom: 0
                color: $text-grey
                font-size: 14px
            .profile-description
                text-transform: none
                color: $text-grey-light
                font-size: 12px
        &:hover
            background-color: $gray-100

.accordion-header
    padding: .75rem 1.5rem
    border-bottom: 1px solid $gray-200
    position: relative
    cursor: pointer

    &:hover
        background-color: $gray-100

    .accordion-arrow
        position: absolute
        right: 1.5rem
        top: 50%
        height: 14px
        margin-top: -7px
        font-size: 12px
        transition: all ease-in-out .2s

    .is-active &
        .accordion-arrow
            transform: rotate(180deg)

    .accordion-title
        font-size: 14px
        text-transform: uppercase
        color: $primary
        font-weight: normal
        margin-bottom: 0

        .item-number
            background-color: $gray-300
            color: $red
            border-radius: 3px
            line-height: 18px
            padding: 0 3px
            height: 18px
            margin-left: 5px

.accordion-content
    height: 0
    overflow: hidden
    padding-bottom: 0
    opacity: 0
    transition: all ease-in-out .2s

.accordion.is-active
    .accordion-content
        padding-bottom: 1rem
        height: 100%        
        opacity: 1        

.content-area
    margin-left: 300px
    padding: 90px 30px 30px
    height: 100%
    display: flex
    flex-direction: column
    transition: all ease-in-out .2s
    -webkit-transition: all ease-in-out .2s
    -moz-transition: all ease-in-out .2s
    -ms-transition: all ease-in-out .2s
    background-color: $bg-notes
    @media (max-width: 1280px)
        margin-left: 264.5px
    &.close-side
        margin-left: 0
        @media (max-width: 1280px)
            margin-left: 0
    .column-content-group
        flex: 1

        > div[class^="col-"]
            &.is-upload-presentation
                display: flow-root
                flex-direction: column
                height: auto
                .content-group
                    display: flow-root
                    flex-direction: column
                    height: auto
    .embed-video
        padding-bottom: 55%
    .card
        border-radius: 0
        border: none
        box-shadow: 0 2px 4px rgba($black, .16)

    .card-title
        margin-bottom: 0

    .card-body
        padding: 15px

    .scrollable
        overflow: auto

        .simplebar-track.horizontal
            display: none

    .table
        margin-bottom: 0

        .ui-sortable-helper
            box-shadow: 0 3px 6px rgba($black, .1)

        thead tr
            border-top: none
            border-bottom: 1px solid #E8E8E8
        
        th,td
            padding: 8px 6px
            height: 100%
            border-top: none
            border-bottom: none

            .icon-sortby
                color: #CCCCCC
                display: inline-block
                vertical-align: middle
                line-height: 16px

        .btn
            height: 28px
            width: 28px
            border-radius: 50%
            display: inline-flex
            justify-content: center
            align-items: center
            padding: 0
            cursor: default
            font-size: 16px
            color: $info

            &:not(.btn-talk)
                background-color: #F1EEF3

            &.btn-talk
                cursor: pointer
                color: $white

                .icon-volume-on
                    display: block

                .icon-volume-off
                    display: none

                &.is-muted
                    .icon-volume-off
                        display: block
                    .icon-volume-on
                        display: none

            &.btn-qa
                color: $orange
    &.m-fix-bottom
        @media(max-width: 1280px)
            padding-bottom: 200px
.column-content-group
    flex: 1

    > div[class^="col-"],
    .content-group
        display: flex
        flex-direction: column
        height: 100%

    .is-presentation-list
        .card
            flex: 1
            max-height: 100%

        .card-body
            display: flex
            flex-direction: column

            .scrollable
                flex: 1

.content-group
    margin-bottom: 30px
    &.fixet-bottom
        @media(max-width: 1280px)
            position: fixed
            right: 30px
            bottom: 0
            width: 100%
            max-width: 953px

    .table
        a
            text-decoration: none
            color: inherit
        .btn-play
            color: $light-green
            font-size: 1.5rem
        thead
            tr
                height: 30px       
            th
                padding-top: 0
                text-transform: uppercase
                font-weight: normal
                color: $gray-600
                font-size: 10px
        td
            vertical-align: middle

        .col-play
            width: 50px
            text-align: center
        .col-title
            width: 65%
        .btn-action
            color: $gray-500
            text-decoration: none
            width: 1.25rem
            height: 1.25rem
            display: inline-flex
            align-items: center
            justify-content: center

            &:hover
                color: $primary
            
            &:not(:last-child)
                margin-right: .5rem


    .content-header
        border-bottom: 1px solid $gray-300
        display: block
        align-content: center
        margin-bottom: 30px
        height: 30px
        position: relative

        &:before
            content: ""
            position: absolute
            left: 0
            bottom: 0
            width: 30px
            height: 2px
            background-color: $primary
            z-index: 1

        h3
            font-size: 14px
            line-height: 1.5rem
            font-weight: normal
            color: $primary
            text-transform: uppercase

            small
                text-transform: none
                font-size: 14px
                color: $gray-600
                
                &:before 
                    content: "-"
                    display: inline-block
                    margin: 0 .5rem
                &.dark
                    color: $body-color

        .content-header-icon
            color: $primary
            position: absolute
            top: 0
            right: 0
            height: 30px
            display: flex
            align-items: center
.upload-box
    border-radius: 6px
    border: 2px dashed $primary
    text-align: center
    padding: 2rem 1rem

    h3
        margin-bottom: 1rem
        font-size: 20px
        line-height: 24px
    p
        color: $gray-500
        margin-bottom: 0

.slides
    padding: 0 80px
    &.js-slides2
        padding: 0
    
    .slide-item
        padding: 8px
        img
            max-width: 100%

        .slide-title
            color: $primary
            font-size: 14px
            line-height: 1.5rem
    &.js-slides1
        .slick-current
            color: white
            background-color: #be0c22;
            .slide-item
                h4
                    color: white
.embed-video
    position: relative
    width: 100%
    padding-bottom: 55%
    overflow: hidden
    margin-bottom: 15px
    iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border: none
.is-upload-presentation 
    .content-group 
        .card 
            display: block

.next-slide
    a
        img 
            max-width: 100%
    h3
        font-size: 14px
        color: $text-grey
        font-family: "Roboto",sans-serif
        margin-top: 20px
    .notes
        padding: 20px
        background-color: $bg-notes
        height: 110px
        overflow: auto
        &::-webkit-scrollbar
          width: 4px;

        /* Track */
        &::-webkit-scrollbar-track
          background: #EEF0F4;
         
        /* Handle */
        &::-webkit-scrollbar-thumb
          background: #16B9F6; 

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover
          background: #16B9F6; 
        p
            color: $text-grey
            font-size: 14px
.slide-preview
    height: 65%
    overflow: auto
    img
        max-width: 100%
.js-slides2
    .slick-arrow
        opacity: 0
.arrow-slide
    cursor: pointer
    background-color: transparent
    border: none
    &.disabled
        opacity: 0.4
    &:focus
        box-shadow: none
        outline: none
.title-content
    padding: 20px 30px
    background-color: $bg-notes
    position: relative
    > span
        position: absolute
        top: 50%
        right: 20px
        transform: translateY(-50%)
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        color: $theme
        font-size: 20px
    h3
        font-weight: 500
        text-transform: uppercase
        color: $theme
        font-size: 14px
        line-height: 16px
        margin-bottom: 0
        .label
            background-color: $red
            color: $white
            border-radius: 3px
            padding: 2px 0
            margin-left: 10px
            display: inline-block
            width: 24px
            text-align: center
.pdf-bar
    background-color: $pdf-bar
    padding: 10px 15px
    position: relative
    ul 
        list-style: none
        margin-bottom: 0
        padding-left: 0
        li
            display: inline-block
            text-align: center
            padding: 0 5px
            p
                color: $white
                font-size: 12px
                margin-bottom: 0
    .setting-pdf
        position: absolute
        top: 50%
        right: 38px;
        transform: translateY(-50%)
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
    .close-pdf
        position: absolute
        top: 50%
        right: 10px;
        transform: translateY(-50%)
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
.pdf-bar-bottom
    background-color: $pdf-bar
    padding: 10px 15px
    position: relative
    ul 
        list-style: none
        margin-bottom: 0
        padding-left: 0
        width: 100%
        text-align: center
        li
            display: inline-block
            text-align: center
            padding: 0 5px
            p
                color: $white
                font-size: 12px
                margin-bottom: 0