body
    background-color: #ffffff
.login-wrapper
    margin-right: 445px
    height: 100%
    .video-wrapp
        height: 100%
        position: relative
        .vid-header
            padding: 50px 0 0 40px
            position: relative
            width: 100%
            max-width: 500px
            z-index: 3
            h1
                font-size: 43px
                font-weight: 900
                text-transform: uppercase
                color: $white
                position: relative
                padding-bottom: 20px
                margin-bottom: 20px
                &:before
                    content: ""
                    position: absolute
                    left: 0
                    bottom: 0
                    width: 50px
                    height: 1px
                    background-color: $white
                span
                    text-transform: capitalize
            p
                color: $white
                font-size: 16px
                line-height: 24px
        .vid-footer
            padding: 0 0 50px 30px
            position: absolute
            left: 0
            bottom: 0
            width: 100%
            z-index: 3
            .list-menu
                h3 
                    font-size: 18px
                    position: relative
                    color: $white
                    padding-bottom: 15px
                    margin-bottom: 15px
                    font-weight: 400
                    &:before
                        content: ""
                        position: absolute
                        left: 0
                        bottom: 0
                        width: 50px
                        height: 1px
                        background-color: $white
                ul 
                    list-style: none
                    padding-left: 0
                    margin-bottom: 0
                    li 
                        margin-bottom: 5px
                        a 
                            color: $white
                            font-size: 14px
        #myBtn
            position: absolute
            z-index: 3
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            -webkit-transform: translate(-50%, -50%)
            -moz-transform: translate(-50%, -50%)
            -ms-transform: translate(-50%, -50%)
            width: 88px
            height: 88px
            border-radius: 700px
            border: 5px solid $white
            background-color: transparent
            &.hide
                display: none
            > span
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                -webkit-transform: translate(-50%, -50%)
                -moz-transform: translate(-50%, -50%)
                -ms-transform: translate(-50%, -50%)
                width: 28px
                height: 30px
        .vid-mask
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            opacity: .3;
            z-index: 2
            background: rgba(0,106,255,1);
            background: -moz-linear-gradient(top, rgba(0,106,255,1) 0%, rgba(133,90,160,1) 47%, rgba(255,73,73,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,106,255,1)), color-stop(47%, rgba(133,90,160,1)), color-stop(100%, rgba(255,73,73,1)));
            background: -webkit-linear-gradient(top, rgba(0,106,255,1) 0%, rgba(133,90,160,1) 47%, rgba(255,73,73,1) 100%);
            background: -o-linear-gradient(top, rgba(0,106,255,1) 0%, rgba(133,90,160,1) 47%, rgba(255,73,73,1) 100%);
            background: -ms-linear-gradient(top, rgba(0,106,255,1) 0%, rgba(133,90,160,1) 47%, rgba(255,73,73,1) 100%);
            background: linear-gradient(to bottom, rgba(0,106,255,1) 0%, rgba(133,90,160,1) 47%, rgba(255,73,73,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006aff', endColorstr='#ff4949', GradientType=0); 
        #myVideo
            position: fixed;
            left: -23px;
            bottom: 0;
            min-width: 100%;
            z-index: 1
    .login-title
        position: relative
        margin-bottom: 50px
        @media(max-width: 1280px)
            margin-bottom: 20px
        &:before 
            content: ""
            width: 100%
            height: 1px
            background-color: $text-grey-light
            position: absolute
            top: 50%
            left: 0
            z-index: 1
            transform: translateY(-50%)
            -webkit-transform: translateY(-50%)
            -moz-transform: translateY(-50%)
            -ms-transform: translateY(-50%)
        p
            font-size: 18px
            text-transform: uppercase
            display: table
            padding: 0 30px
            margin: 0 auto
            position: relative
            z-index: 2
            background-color: $bg-notes
            color: $text-grey
    .content-login
        position: absolute
        top: 0
        right: 0
        background-color: $bg-notes
        width: 100%
        max-width: 445px
        height: 100%
        z-index: 2
        .login-wrapp
            text-align: center
            padding: 36px 60px
            position: relative
            img 
                max-width: 100%;
                margin-bottom: 36px
            .form-group
                margin-bottom: 30px
                label
                    text-align: left
                    color: $theme
                    display: block
            .form-control
                border-radius: 0
                border-top: 0
                border-left: 0
                border-right: 0
                padding: 5px 30px
                height: 60px
                border: 1px solid $border-form
                &:focus
                    outline: none
                    box-shadow: none
                &::placeholder
                  color: $body-color
                  opacity: 1

                &:-ms-input-placeholder
                 color: $body-color

                &::-ms-input-placeholder
                 color: $body-color
                &::-webkit-input-placeholder
                 color: $body-color

            .btn-group
                display: block
                .dropdown-menu
                    width: 100%
                    border-radius: 2px
                    padding: 0
                    li
                        a 
                            padding: 12px 20px
                            display: block
                            font-size: 14px
                            color: $text-grey
                            &:hover
                                text-decoration: none
                                color: $white
                                background-color: $theme
            .btn
                text-transform: uppercase
                background-color: $blue
                border-radius: 0
                color: #ffffff
                display: block
                width: 100%
                font-family: "Roboto",sans-serif
                letter-spacing: 1px
                margin-bottom: 20px
                font-size: 18px
                padding: 20px 30px
                border-radius: 2px
                text-align: left
                -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.12)
                -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.12)
                box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.12)
                &:after
                    border-width: 8px
                    position: absolute
                    top: 50%
                    right: 30px
                    transform: translateY(-50%)
                    -webkit-transform: translateY(-50%)
                    -moz-transform: translateY(-50%)
                    -ms-transform: translateY(-50%)
            a 
                font-family: "Roboto",sans-serif
                letter-spacing: 0.5px
                font-size: 12px
                color: $blue
        .footer-login
            margin: 30px 0 0 0
            padding: 0 30px 20px 30px
            text-align: center
            position: absolute
            width: 365px
            left: 50%
            bottom: 0
            transform: translateX(-50%)
            -webkit-transform: translateX(-50%)
            -moz-transform: translateX(-50%)
            -ms-transform: translateX(-50%)
            @media(max-width: 1280px)
                padding-bottom: 10px
            a
                color: $theme
                font-size: 16px
                > i 
                    margin-right: 8px
            p 
                color: $theme
                margin-top: 10px
                font-size: 16px
            .signup-link
                font-size: 18px
                color: $text-grey
                margin-bottom: 40px
                margin-top: 0
                line-height: 21px
                padding-bottom: 10px
                border-bottom: 1px solid $text-grey-light
                
