
@media (min-width: $desktop)
    #navbar-menu
        flex: 1
    .navbar-brand
        width: 300px
        box-shadow: 1px 0 0 $gray-300
        margin-right: .5rem
        height: 60px
        padding-left: .5rem
        padding-right: .5rem
        position: relative
        @media (max-width: 1280px)
            width: 264.5px
        .navbar-btn
            position: absolute
            top: 50%
            right: 15px
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            width: 18px
            height: 30px
            padding: 0
            background-color: transparent
            border: none
            cursor: pointer
            &:focus
                outline: none
                border: none
                box-shadow: none
            > span
                color: $theme
                font-size: .875rem
.navbar
    box-shadow: 0 3px 6px rgba($black, .16)
    
    @media (min-width: $desktop)
        padding: 0
        height: 60px

.navbar-item.active .nav-link
    color: $link-color
.nav-link
    color: inherit
    display: flex
    align-items: center
    
    @media (min-width: $desktop)
        height: 60px
        min-width: 7rem
    
    .nav-text
        font-size: 13px
        line-height: 14px
        font-weight: 700
        word-break: break-word
        padding-left: 9px
        flex: 1
    .nav-icon
        width: 30px
        height: 30px
        border-radius: 50%
        display: flex
        color: $white
        align-items: center
        justify-content: center
        background-color: $primary
        box-shadow: 0 3px 6px rgba($black, .16)